.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.732422;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.729980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-5.348376px;}
._3{margin-left:-3.996288px;}
._1{margin-left:-2.672424px;}
._2{margin-left:-1.302624px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(26,34,126);}
.fs0{font-size:72.000003px;}
.fs1{font-size:96.000004px;}
.fs2{font-size:108.000004px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.329960px;}
.y27{bottom:141.038499px;}
.y13{bottom:156.959700px;}
.y26{bottom:161.288500px;}
.y12{bottom:177.209701px;}
.y25{bottom:181.538501px;}
.y11{bottom:197.459702px;}
.y24{bottom:201.788502px;}
.yf{bottom:263.459704px;}
.y10{bottom:265.709704px;}
.y22{bottom:265.913704px;}
.y23{bottom:270.038504px;}
.ye{bottom:388.563409px;}
.y21{bottom:391.301409px;}
.y20{bottom:411.551410px;}
.yc{bottom:454.563512px;}
.yd{bottom:456.813512px;}
.y1e{bottom:475.676412px;}
.y1f{bottom:479.801413px;}
.yb{bottom:579.667316px;}
.ya{bottom:599.917317px;}
.y1d{bottom:601.064217px;}
.y9{bottom:620.167318px;}
.y1c{bottom:621.314218px;}
.y1a{bottom:685.439221px;}
.y7{bottom:686.167321px;}
.y8{bottom:688.417321px;}
.y1b{bottom:689.564221px;}
.y19{bottom:810.827125px;}
.y6{bottom:811.271125px;}
.y18{bottom:831.077126px;}
.y5{bottom:831.521126px;}
.y16{bottom:895.202129px;}
.y3{bottom:897.521129px;}
.y17{bottom:899.327129px;}
.y4{bottom:899.771129px;}
.y15{bottom:1024.339934px;}
.y2{bottom:1029.375034px;}
.y14{bottom:1044.589935px;}
.h3{height:64.160159px;}
.h4{height:69.000003px;}
.h5{height:77.466800px;}
.h2{height:1107.750000px;}
.h1{height:1108.000000px;}
.h0{height:1108.079960px;}
.w1{width:1983.000000px;}
.w2{width:1983.000240px;}
.w0{width:1983.120000px;}
.x0{left:0.000000px;}
.x9{left:61.704502px;}
.x8{left:65.466503px;}
.xa{left:81.239753px;}
.x7{left:132.966505px;}
.xf{left:138.614905px;}
.xe{left:154.364906px;}
.xd{left:184.294607px;}
.x10{left:205.646158px;}
.x1{left:356.074214px;}
.x6{left:453.000018px;}
.x2{left:454.875018px;}
.xc{left:570.369422px;}
.x4{left:581.596023px;}
.x3{left:597.240523px;}
.xb{left:613.928024px;}
.x5{left:641.174525px;}
.x1f{left:1074.246642px;}
.x20{left:1083.644892px;}
.x21{left:1087.219392px;}
.x22{left:1105.078393px;}
.x19{left:1129.160744px;}
.x1a{left:1174.793746px;}
.x1e{left:1207.102147px;}
.x18{left:1224.656848px;}
.x11{left:1490.775158px;}
.x12{left:1535.470660px;}
.x17{left:1564.720461px;}
.x13{left:1566.970461px;}
.x1b{left:1687.389466px;}
.x1c{left:1689.815266px;}
.x15{left:1692.346566px;}
.x14{left:1695.744966px;}
.x16{left:1715.690317px;}
.x1d{left:1735.483518px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-7.131168pt;}
._3{margin-left:-5.328384pt;}
._1{margin-left:-3.563232pt;}
._2{margin-left:-1.736832pt;}
.fs0{font-size:96.000004pt;}
.fs1{font-size:128.000005pt;}
.fs2{font-size:144.000006pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.439947pt;}
.y27{bottom:188.051332pt;}
.y13{bottom:209.279600pt;}
.y26{bottom:215.051333pt;}
.y12{bottom:236.279601pt;}
.y25{bottom:242.051335pt;}
.y11{bottom:263.279602pt;}
.y24{bottom:269.051336pt;}
.yf{bottom:351.279605pt;}
.y10{bottom:354.279606pt;}
.y22{bottom:354.551606pt;}
.y23{bottom:360.051339pt;}
.ye{bottom:518.084545pt;}
.y21{bottom:521.735212pt;}
.y20{bottom:548.735213pt;}
.yc{bottom:606.084682pt;}
.yd{bottom:609.084682pt;}
.y1e{bottom:634.235217pt;}
.y1f{bottom:639.735217pt;}
.yb{bottom:772.889755pt;}
.ya{bottom:799.889756pt;}
.y1d{bottom:801.418956pt;}
.y9{bottom:826.889757pt;}
.y1c{bottom:828.418957pt;}
.y1a{bottom:913.918961pt;}
.y7{bottom:914.889761pt;}
.y8{bottom:917.889761pt;}
.y1b{bottom:919.418961pt;}
.y19{bottom:1081.102834pt;}
.y6{bottom:1081.694834pt;}
.y18{bottom:1108.102835pt;}
.y5{bottom:1108.694835pt;}
.y16{bottom:1193.602838pt;}
.y3{bottom:1196.694838pt;}
.y17{bottom:1199.102839pt;}
.y4{bottom:1199.694839pt;}
.y15{bottom:1365.786578pt;}
.y2{bottom:1372.500045pt;}
.y14{bottom:1392.786579pt;}
.h3{height:85.546878pt;}
.h4{height:92.000004pt;}
.h5{height:103.289067pt;}
.h2{height:1477.000000pt;}
.h1{height:1477.333333pt;}
.h0{height:1477.439947pt;}
.w1{width:2644.000000pt;}
.w2{width:2644.000320pt;}
.w0{width:2644.160000pt;}
.x0{left:0.000000pt;}
.x9{left:82.272670pt;}
.x8{left:87.288670pt;}
.xa{left:108.319671pt;}
.x7{left:177.288674pt;}
.xf{left:184.819874pt;}
.xe{left:205.819875pt;}
.xd{left:245.726143pt;}
.x10{left:274.194877pt;}
.x1{left:474.765619pt;}
.x6{left:604.000024pt;}
.x2{left:606.500024pt;}
.xc{left:760.492563pt;}
.x4{left:775.461364pt;}
.x3{left:796.320698pt;}
.xb{left:818.570699pt;}
.x5{left:854.899367pt;}
.x1f{left:1432.328856pt;}
.x20{left:1444.859856pt;}
.x21{left:1449.625857pt;}
.x22{left:1473.437857pt;}
.x19{left:1505.547659pt;}
.x1a{left:1566.391661pt;}
.x1e{left:1609.469529pt;}
.x18{left:1632.875797pt;}
.x11{left:1987.700211pt;}
.x12{left:2047.294213pt;}
.x17{left:2086.293948pt;}
.x13{left:2089.293948pt;}
.x1b{left:2249.852621pt;}
.x1c{left:2253.087021pt;}
.x15{left:2256.462088pt;}
.x14{left:2260.993288pt;}
.x16{left:2287.587089pt;}
.x1d{left:2313.978024pt;}
}
