.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.732422;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.729980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-5.343749px;}
._0{margin-left:-3.972668px;}
._2{margin-left:-2.671874px;}
._3{margin-left:-1.300781px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(26,34,126);}
.fs0{font-size:72.000002px;}
.fs1{font-size:96.000002px;}
.fs2{font-size:108.000002px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.329886px;}
.y28{bottom:141.038653px;}
.y14{bottom:146.834822px;}
.y27{bottom:161.288654px;}
.y13{bottom:167.084823px;}
.y26{bottom:181.538654px;}
.y12{bottom:187.334823px;}
.y25{bottom:201.788655px;}
.y10{bottom:253.334820px;}
.y11{bottom:255.584820px;}
.y23{bottom:265.913771px;}
.y24{bottom:270.038652px;}
.yf{bottom:378.438559px;}
.y22{bottom:391.301525px;}
.y21{bottom:411.551526px;}
.yd{bottom:444.438604px;}
.ye{bottom:446.688604px;}
.y1f{bottom:475.676523px;}
.y20{bottom:479.801523px;}
.yc{bottom:569.542413px;}
.yb{bottom:589.792413px;}
.y1e{bottom:601.064349px;}
.ya{bottom:610.042414px;}
.y1d{bottom:621.314349px;}
.y8{bottom:676.042434px;}
.y9{bottom:678.292435px;}
.y1b{bottom:685.439358px;}
.y1c{bottom:689.564358px;}
.y7{bottom:801.146247px;}
.y1a{bottom:810.827194px;}
.y6{bottom:821.396247px;}
.y19{bottom:831.077194px;}
.y4{bottom:887.396258px;}
.y5{bottom:889.646259px;}
.y17{bottom:895.202205px;}
.y18{bottom:899.327206px;}
.y3{bottom:1019.250070px;}
.y16{bottom:1024.340033px;}
.y2{bottom:1039.500071px;}
.y15{bottom:1044.590034px;}
.h3{height:64.160158px;}
.h4{height:69.000002px;}
.h5{height:77.466799px;}
.h2{height:1107.750074px;}
.h1{height:1108.000000px;}
.h0{height:1108.079960px;}
.w1{width:1983.000000px;}
.w2{width:1983.000157px;}
.w0{width:1983.120000px;}
.x0{left:0.000000px;}
.xa{left:61.704761px;}
.x9{left:65.466480px;}
.xb{left:81.239917px;}
.x8{left:132.966498px;}
.x10{left:138.614935px;}
.xf{left:154.364936px;}
.xe{left:184.294635px;}
.x11{left:205.646187px;}
.x1{left:359.332045px;}
.x2{left:373.488295px;}
.x7{left:453.000005px;}
.x3{left:454.875005px;}
.xd{left:570.369417px;}
.x5{left:581.595979px;}
.x4{left:597.240510px;}
.xc{left:613.928009px;}
.x6{left:641.174106px;}
.x1f{left:1074.246626px;}
.x20{left:1083.645063px;}
.x21{left:1087.219282px;}
.x22{left:1106.754439px;}
.x19{left:1129.160686px;}
.x1a{left:1174.793499px;}
.x1e{left:1207.102089px;}
.x18{left:1224.656776px;}
.x12{left:1481.282878px;}
.x17{left:1564.720375px;}
.x13{left:1566.970375px;}
.x1b{left:1687.389428px;}
.x1c{left:1689.815209px;}
.x15{left:1692.346459px;}
.x14{left:1695.744896px;}
.x16{left:1715.690209px;}
.x1d{left:1735.483179px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-7.124999pt;}
._0{margin-left:-5.296891pt;}
._2{margin-left:-3.562498pt;}
._3{margin-left:-1.734375pt;}
.fs0{font-size:96.000002pt;}
.fs1{font-size:128.000003pt;}
.fs2{font-size:144.000003pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.439848pt;}
.y28{bottom:188.051538pt;}
.y14{bottom:195.779763pt;}
.y27{bottom:215.051538pt;}
.y13{bottom:222.779764pt;}
.y26{bottom:242.051539pt;}
.y12{bottom:249.779764pt;}
.y25{bottom:269.051539pt;}
.y10{bottom:337.779760pt;}
.y11{bottom:340.779760pt;}
.y23{bottom:354.551695pt;}
.y24{bottom:360.051536pt;}
.yf{bottom:504.584746pt;}
.y22{bottom:521.735367pt;}
.y21{bottom:548.735368pt;}
.yd{bottom:592.584805pt;}
.ye{bottom:595.584806pt;}
.y1f{bottom:634.235363pt;}
.y20{bottom:639.735364pt;}
.yc{bottom:759.389884pt;}
.yb{bottom:786.389884pt;}
.y1e{bottom:801.419132pt;}
.ya{bottom:813.389885pt;}
.y1d{bottom:828.419132pt;}
.y8{bottom:901.389913pt;}
.y9{bottom:904.389913pt;}
.y1b{bottom:913.919144pt;}
.y1c{bottom:919.419144pt;}
.y7{bottom:1068.194996pt;}
.y1a{bottom:1081.102925pt;}
.y6{bottom:1095.194996pt;}
.y19{bottom:1108.102925pt;}
.y4{bottom:1183.195011pt;}
.y5{bottom:1186.195012pt;}
.y17{bottom:1193.602940pt;}
.y18{bottom:1199.102941pt;}
.y3{bottom:1359.000094pt;}
.y16{bottom:1365.786711pt;}
.y2{bottom:1386.000095pt;}
.y15{bottom:1392.786712pt;}
.h3{height:85.546877pt;}
.h4{height:92.000002pt;}
.h5{height:103.289065pt;}
.h2{height:1477.000098pt;}
.h1{height:1477.333333pt;}
.h0{height:1477.439947pt;}
.w1{width:2644.000000pt;}
.w2{width:2644.000210pt;}
.w0{width:2644.160000pt;}
.x0{left:0.000000pt;}
.xa{left:82.273014pt;}
.x9{left:87.288639pt;}
.xb{left:108.319890pt;}
.x8{left:177.288664pt;}
.x10{left:184.819914pt;}
.xf{left:205.819914pt;}
.xe{left:245.726181pt;}
.x11{left:274.194916pt;}
.x1{left:479.109393pt;}
.x2{left:497.984394pt;}
.x7{left:604.000007pt;}
.x3{left:606.500007pt;}
.xd{left:760.492556pt;}
.x5{left:775.461306pt;}
.x4{left:796.320680pt;}
.xc{left:818.570679pt;}
.x6{left:854.898807pt;}
.x1f{left:1432.328834pt;}
.x20{left:1444.860085pt;}
.x21{left:1449.625710pt;}
.x22{left:1475.672585pt;}
.x19{left:1505.547581pt;}
.x1a{left:1566.391333pt;}
.x1e{left:1609.469452pt;}
.x18{left:1632.875701pt;}
.x12{left:1975.043838pt;}
.x17{left:2086.293833pt;}
.x13{left:2089.293833pt;}
.x1b{left:2249.852570pt;}
.x1c{left:2253.086945pt;}
.x15{left:2256.461945pt;}
.x14{left:2260.993195pt;}
.x16{left:2287.586946pt;}
.x1d{left:2313.977571pt;}
}
