.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.732422;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.729980;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-5.348376px;}
._0{margin-left:-3.908088px;}
._2{margin-left:-2.672424px;}
._3{margin-left:-1.302624px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(26,34,126);}
.fs0{font-size:72.000003px;}
.fs1{font-size:96.000004px;}
.fs2{font-size:108.000004px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.329960px;}
.y28{bottom:141.038499px;}
.y14{bottom:146.834700px;}
.y27{bottom:161.288500px;}
.y13{bottom:167.084700px;}
.y26{bottom:181.538501px;}
.y12{bottom:187.334701px;}
.y25{bottom:201.788502px;}
.y10{bottom:253.334704px;}
.y11{bottom:255.584704px;}
.y23{bottom:265.913704px;}
.y24{bottom:270.038504px;}
.yf{bottom:378.438409px;}
.y22{bottom:391.301409px;}
.y21{bottom:411.551410px;}
.yd{bottom:444.438511px;}
.ye{bottom:446.688511px;}
.y1f{bottom:475.676412px;}
.y20{bottom:479.801413px;}
.yc{bottom:569.542316px;}
.yb{bottom:589.792317px;}
.y1e{bottom:601.064217px;}
.ya{bottom:610.042318px;}
.y1d{bottom:621.314218px;}
.y8{bottom:676.042320px;}
.y9{bottom:678.292320px;}
.y1b{bottom:685.439221px;}
.y1c{bottom:689.564221px;}
.y7{bottom:801.146125px;}
.y1a{bottom:810.827125px;}
.y6{bottom:821.396126px;}
.y19{bottom:831.077126px;}
.y4{bottom:887.396128px;}
.y5{bottom:889.646129px;}
.y17{bottom:895.202129px;}
.y18{bottom:899.327129px;}
.y3{bottom:1019.250034px;}
.y16{bottom:1024.339934px;}
.y2{bottom:1039.500034px;}
.y15{bottom:1044.589935px;}
.h3{height:64.160159px;}
.h4{height:69.000003px;}
.h5{height:77.466800px;}
.h2{height:1107.750000px;}
.h1{height:1108.000000px;}
.h0{height:1108.079960px;}
.w1{width:1983.000000px;}
.w2{width:1983.000240px;}
.w0{width:1983.120000px;}
.x0{left:0.000000px;}
.xa{left:61.704502px;}
.x9{left:65.466503px;}
.xb{left:81.239753px;}
.x8{left:132.966505px;}
.x10{left:138.614905px;}
.xf{left:154.364906px;}
.xe{left:184.294607px;}
.x11{left:205.646158px;}
.x1{left:359.332014px;}
.x2{left:373.488265px;}
.x7{left:453.000018px;}
.x3{left:454.875018px;}
.xd{left:570.369422px;}
.x5{left:581.596023px;}
.x4{left:597.240523px;}
.xc{left:613.928024px;}
.x6{left:641.174525px;}
.x1f{left:1074.246642px;}
.x20{left:1083.644892px;}
.x21{left:1087.219392px;}
.x22{left:1106.754643px;}
.x19{left:1129.160744px;}
.x1a{left:1174.793746px;}
.x1e{left:1207.102147px;}
.x18{left:1224.656848px;}
.x12{left:1481.282958px;}
.x17{left:1564.720461px;}
.x13{left:1566.970461px;}
.x1b{left:1687.389466px;}
.x1c{left:1689.815266px;}
.x15{left:1692.346566px;}
.x14{left:1695.744966px;}
.x16{left:1715.690317px;}
.x1d{left:1735.483518px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-7.131168pt;}
._0{margin-left:-5.210784pt;}
._2{margin-left:-3.563232pt;}
._3{margin-left:-1.736832pt;}
.fs0{font-size:96.000004pt;}
.fs1{font-size:128.000005pt;}
.fs2{font-size:144.000006pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.439947pt;}
.y28{bottom:188.051332pt;}
.y14{bottom:195.779599pt;}
.y27{bottom:215.051333pt;}
.y13{bottom:222.779600pt;}
.y26{bottom:242.051335pt;}
.y12{bottom:249.779602pt;}
.y25{bottom:269.051336pt;}
.y10{bottom:337.779605pt;}
.y11{bottom:340.779605pt;}
.y23{bottom:354.551606pt;}
.y24{bottom:360.051339pt;}
.yf{bottom:504.584545pt;}
.y22{bottom:521.735212pt;}
.y21{bottom:548.735213pt;}
.yd{bottom:592.584682pt;}
.ye{bottom:595.584682pt;}
.y1f{bottom:634.235217pt;}
.y20{bottom:639.735217pt;}
.yc{bottom:759.389755pt;}
.yb{bottom:786.389756pt;}
.y1e{bottom:801.418956pt;}
.ya{bottom:813.389757pt;}
.y1d{bottom:828.418957pt;}
.y8{bottom:901.389760pt;}
.y9{bottom:904.389760pt;}
.y1b{bottom:913.918961pt;}
.y1c{bottom:919.418961pt;}
.y7{bottom:1068.194833pt;}
.y1a{bottom:1081.102834pt;}
.y6{bottom:1095.194834pt;}
.y19{bottom:1108.102835pt;}
.y4{bottom:1183.194838pt;}
.y5{bottom:1186.194838pt;}
.y17{bottom:1193.602838pt;}
.y18{bottom:1199.102839pt;}
.y3{bottom:1359.000045pt;}
.y16{bottom:1365.786578pt;}
.y2{bottom:1386.000046pt;}
.y15{bottom:1392.786579pt;}
.h3{height:85.546878pt;}
.h4{height:92.000004pt;}
.h5{height:103.289067pt;}
.h2{height:1477.000000pt;}
.h1{height:1477.333333pt;}
.h0{height:1477.439947pt;}
.w1{width:2644.000000pt;}
.w2{width:2644.000320pt;}
.w0{width:2644.160000pt;}
.x0{left:0.000000pt;}
.xa{left:82.272670pt;}
.x9{left:87.288670pt;}
.xb{left:108.319671pt;}
.x8{left:177.288674pt;}
.x10{left:184.819874pt;}
.xf{left:205.819875pt;}
.xe{left:245.726143pt;}
.x11{left:274.194877pt;}
.x1{left:479.109352pt;}
.x2{left:497.984353pt;}
.x7{left:604.000024pt;}
.x3{left:606.500024pt;}
.xd{left:760.492563pt;}
.x5{left:775.461364pt;}
.x4{left:796.320698pt;}
.xc{left:818.570699pt;}
.x6{left:854.899367pt;}
.x1f{left:1432.328856pt;}
.x20{left:1444.859856pt;}
.x21{left:1449.625857pt;}
.x22{left:1475.672858pt;}
.x19{left:1505.547659pt;}
.x1a{left:1566.391661pt;}
.x1e{left:1609.469529pt;}
.x18{left:1632.875797pt;}
.x12{left:1975.043944pt;}
.x17{left:2086.293948pt;}
.x13{left:2089.293948pt;}
.x1b{left:2249.852621pt;}
.x1c{left:2253.087021pt;}
.x15{left:2256.462088pt;}
.x14{left:2260.993288pt;}
.x16{left:2287.587089pt;}
.x1d{left:2313.978024pt;}
}
